@model IEnumerable<userorRoleVM>
@{
    ViewData["Title"] = "Index";
}


@section Scripts {
    <partial name="_NotificationPartial.cshtml" />
    }

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All User</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/user/Create" class="btn btn-success">Create</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">full Name</th>
                        <th scope="col">email</th>
                        <th scope="col">user name</th>
                        <th scope="col">role</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(item.Id)</th>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.UserName</td>
                            <td>@string.Join(" ,", item.Roles)</td>
                            <td>
                                @(item.islocked?"locked" :"unlocked")
                            </td>

                            <td>
                                <a href="/Admin/user/Edit/@item.Id" type="button" class="btn btn-warning">Edit</a>
                                <a href="/Admin/user/Delete/@item.Id"
                                   class="btn btn-danger btn-delete"
                                   data-id="@item.Id">Delete</a>
                                <a href="/Admin/user/Details/@item.Id" class="btn btn-info btn-sm">Details</a>
                                <a href="/Admin/user/LockUNlock/@item.Id" class="btn btn-info btn-sm">@(item.islocked?"unlocked" :"locked")</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll('.btn-delete');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();

                const deleteUrl = this.getAttribute('href');

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = deleteUrl;
                    }
                });
            });
        });
    });
</script>






